{% extends 'base.html' %}
{% block title %}
<title>Рефералка</title>
{% endblock %}

{% block content %}
<body class="d-flex h-100 text-center text-bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0">Добавить реферала</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">

            </nav>
        </div>
    </header>

    <main class="px-3">
        <p class="lead">{{ status }}</p>
        <form method="post">
            {% csrf_token %}
            <div class="form-floating">
                <input type="text" name='code' class="form-control" id="floatingInput" placeholder="Enter here">
                <label for="floatingInput">Введите код здесь</label>
            </div>

            <button class="btn btn-primary w-100 py-2" type="submit">Добавить реферала</button>
        </form>


    </main>
</div>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>


</body>

{% endblock %}